{% extends 'Plantillas/DashBoard.html' %}

{% block content %}
<div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    var config = {
        type: 'doughnut',
        data: {
            labels: {{ labels|safe }},
            datasets: [
                {
                    label: "Population (millions)",
                    backgroundColor: ["#956802", "#799502", "#2F9502", "#029568", "#027995"],
                    data: {{ data|safe }}
                }
            ]
        },

        options: {
            responsive: true
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('pie-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };

</script>
{% endblock %}